<section class="education" id="education">
  <div class="container">
    <h2>Education</h2>
    <div>
      <div class="col">
        <h4>Porac Elementary School</h4>
        <h5>Elementary</h5>
        <h6>2008 - 2014</h6>
      </div>
      <hr />
      <div class="col">
        <h4>Pulung Santol National High School</h4>
        <h5>Junior High School</h5>
        <h6>2014 - 2018</h6>
      </div>
      <hr />
      <div class="col">
        <h4>Holy Angel University</h4>
        <h5>
          Senior High School - Science, Technology, Engineering, and Mathematics
        </h5>
        <h6>2018 - 2020</h6>
      </div>
      <hr />
      <div class="col">
        <h4>Holy Angel University</h4>
        <h5>Bachelor of Science in Information Technology - Web Development</h5>
        <h6>2020 - 2024</h6>
      </div>
    </div>
  </div>
</section>
