<section class="home" id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="https://github.com/mariemacapagal/image/blob/main/icon.jpg?raw=true"
          class="rounded-circle"
          alt="..."
          width="80%"
        />
      </div>
      <div class="col" id="intro">
        <h4>Hey there! I'm</h4>
        <h1>{{ myName }}</h1>
        <h5>{{ myInfo }}</h5>
      </div>
    </div>
  </div>
</section>

<app-about></app-about>
<app-education></app-education>
<app-skills></app-skills>
<app-achievements></app-achievements>
<app-references></app-references>
